
<div class="container">

  <h1>Index</h1>

  <div class="articles">
    <ul>
      <% @articles.each do |article| %>
      <div class="article">
        <li>
      	  <h2><%= link_to article.title, article_path(article) %></h2>
        	<p><%= article.content %></p>
        </li>
        <% end %>
      </div>
    </ul>
  </div>

</div>
